/WebAppX/WebAppX/bin
/WebAppX/WebAppX/obj
/WebAppX/.vs
/WebAppX/WebAppX/Publish
/AzureAdWebX/packages
/AzureAdWebX/AzureAdWebX/Publish
/AzureAdWebX/AzureAdWebX/bin
/AzureAdWebX/AzureAdWebX/obj
/AzureAdWebX/.vs
